.btn-round-lg {
    border-radius: 23px;
}

.btn-round {
    border-radius: 17px;
}

.btn-round-sm {
    border-radius: 15px;
}

.btn-round-xs {
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;
}

.modal {
top: 30%;
}

modal.fade.modal-dialog-center .modal-content-wrap {
display: table-cell;
vertical-align: middle;
padding: 0px !important;
}
.container-fluid{
    padding:0;
}
#style  {
    background-color: red;
}

#style:focus {     
    background-color:yellow;    
}