<div ngApp="main-content" ng-controller="myController">
  <div class="container-fluid" *ngIf="assignments" style="font-size:70%">
      <div class="row" style="background-color:#bfbcbc;color:black;font-weight:bolder;text-align:center;border:double #bfbcbc">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
              <span>Skill</span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
              <span>Client</span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <span>No. of Applicants</span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
              <span>RRD</span>
          </div>
      </div>
      <div class="container-fluid" style="background-color:white;border:double white;cursor:pointer">
          <ng-container *ngFor="let job of assignments;let i=index">
              <div *ngIf="assignments" class="row" (click)="moveToAssignmentDetails(job.RRDNumber)" style="background-color:white;color:black;text-align:center;border:double white;border-bottom-color: grey">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-color:white;border:double white">
                      <span>{{job.SkillName }}</span>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-color:white;border:double white">
                      <span>{{job.ClientName}}</span>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-color:white;border:double white">
                      <span>{{job.RRDCount}}</span>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" selected="RRD" ng-model="selectedRRD" style="background-color:white;border:double white">
                      <span style="color:royalblue">{{job.RRDNumber}}</span>
                  </div>

              </div>
          </ng-container>
          <div *ngIf="assignments && assignments.length==0" class="row">
              <div style="background-color:white;border:double white"><span>No Jobs to Display</span></div>
          </div>
          <div *ngIf="!assignments" class="row">
              <div style="background-color:white;border:double white"><span>Problem with the Network</span></div>
          </div>
      </div>
  </div>
</div> 
<app-dialog [(visible)]="showDialog">
    <label style="text-align: center">Message</label>
    <hr style="color:black">
       <div >
           <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <label style="text-align: center">{{statusMessage}}</label>
               </div>
           </div>
           <br />
           <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >                
       <button (click)="showDialog = !showDialog" routerLink="/mainpage" class="btn-success btn btn-primary btn-round-lg btn-lg btn-block button">Close</button>
       <br />
                   <br />
               </div>
           </div>
       </div>
      
     </app-dialog>