<div class="list-group">
  <div style="border-bottom:solid white">
      <a routerLinkActive="active" routerLink="/updateContact" class="list-group-item">
          <p>Update Contact Details<span class="pull-right" style="color:white"><img src="assets/images/right_arrow.png" style="height:2em;width:3em"/></span></p>
      </a>
  </div>
  
  <div style="border-bottom:solid white">
      <a routerLinkActive="active" routerLink="/udpatePrefLocation" class="list-group-item">
          <div style="height:100%;width:100%;border-bottom:white;">
              <p>Update Preferred Locations<span class="pull-right" style="color:white"><img src="assets/images/right_arrow.png" style="height:2em;width:3em"/></span></p>
          </div>
      </a>
  </div>
  <div style="border-bottom:solid white">

      <a routerLinkActive="active" routerLink="/myScheduling" class="list-group-item">
          <p>MyScheduling<span class="pull-right" style="color:white"><img src="assets/images/right_arrow.png" style="height:2em;width:3em"/></span></p>
      </a>
  </div>
  <div style="border-bottom:solid white">

      <a routerLinkActive="active" routerLink="/leadDetails" class="list-group-item">
          <p>Lead Details<span class="pull-right" style="color:white"><img src="assets/images/right_arrow.png" style="height:2em;width:3em"/></span></p>
      </a>
  </div>
  <div style="border-bottom:solid white">

      <a routerLinkActive="active" routerLink="/attendance" class="list-group-item">
          <p>Attendance On ITP<span class="pull-right" style="color:white"><img src="assets/images/right_arrow.png" style="height:2em;width:3em"/></span></p>
      </a>
  </div>
  <div style="border-bottom:solid white">

      <a routerLinkActive="active" routerLink="/crowdSourcing" class="list-group-item">
          <p>CrowdSourcing<span class="pull-right" style="color:white"><img src="assets/images/right_arrow.png" style="height:2em;width:3em"/></span></p>
      </a>
  </div>
  <div style="border-bottom:solid white">

      <a routerLinkActive="active" routerLink="/guidelines" class="list-group-item">
          <p>Guidelines<span class="pull-right" style="color:white"><img src="assets/images/right_arrow.png" style="height:2em;width:3em"/></span></p>
      </a>
  </div>
</div>