<div class="container" style="background:aliceblue;color:black;text-align:center;margin-top:20%">
  <section class="error-wrapper">
      <i class="icon-403"></i>
      <h1>403</h1>
      <h2>You do not have access to this page.</h2>
      <p class="page-403">
          Mail to <a
              href="mailto:CMT_AGHP_LEADS@accenture.com;g.kiran.deorukhar@accenture.com;prafull.kumawat@accenture.com">CMT OPS Team</a>
          For Access.
      </p>
      <p>Or</p>
      <p>Your details have not been updated</p>
  </section>
</div>