<div class="container">
  <section class="error-wrapper" style="background:aliceblue;border: 2px dashed #808080;padding:5%;text-align:center">
      <i class="fa fa-exclamation-triangle fa-5x" aria-hidden="true" style="color:#808080;padding:2%"></i>
      
      <h2 style="font-size:40px!important">Portal is  currently down for maintenance.</h2>
      <p style="font-size:20px!important" class="page-403">
          BenchBuzz will be unavailable today due to Server Maintenance activity.
      </p>
  </section>
</div>